@import "/src/global";
@box-padding: 28px;
@margin: 35px;
@point-size: 16px;

.mark-task {

  [class^=card-body__] {
    flex-grow: 1;
    border-radius: 5PX;
    margin-bottom: 30px;
  }

  .card-body__done {
    background-color: #fff;
    padding: @box-padding;

    .title {
      font-size: .76rem;
      color: @grey;
    }

    .subtitle {
      display: block;
      font-size: .9rem;
      margin-top: 15px;
      color: #252525;
    }
  }

  .card-body__progress {
    background-color: #fff;
    padding: @box-padding;
    .title {
      font-size: .76rem;
      color: @grey;
      text-align: center;
    }

    .time {
      color: #000;
      font-size: 1.8rem;
      margin: 2Px 0;
      text-align: center;
    }

    .btn {
      border-radius: 30PX;
      padding: 0 40PX;
    }
  }

  .card-body__unplay {
    background-color: @bkg-color;
    border: 1PX @light-grey solid;
    padding: 26px;
    font-size: .76rem;
    color: @grey;
  }
}
