@bkg-color: #f5f5f5;
@main-color: #3370ff;

@blue: #3370ff;
@light-grey: #e5e5e5;
@grey: #ababab;
@grey-100: #9a9fa7;
@grey-200: #797979;

page {
  height: 100%;
  background-color: @bkg-color;
}

image {
  width: 180px;
  height: 180px;
}
